{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1 class="text-center">Register</h1>
<div class="container">

    {{ form_start(registrationForm) }}

        <div class="text-center">{{ form_row(registrationForm.name)}}</div>
        <div class="text-center">{{ form_row(registrationForm.email) }}</div>
        <div class="text-center">{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}</div>
        <div class="text-center">{{ form_row(registrationForm.birthday)}}</div>
        <div class="text-center">{{ form_row(registrationForm.gender)}}</div>
        <div class="text-center">{{ form_row(registrationForm.phonenumber)}}</div>
        <div class="text-center">{{ form_row(registrationForm.adresse)}}</div>
        <div class="text-center">{{ form_row(registrationForm.choix)}}</div>
        <div class="text-center">{{ form_row(registrationForm.agreeTerms) }}</div>
        
        <div class="text-center"><button type="submit" class="btn btn-danger">Register</button></div>

    {{ form_end(registrationForm) }}
</div>
{% endblock %}
