{% extends 'base.html.twig' %}

{% block title %}BienLocController!{% endblock %}

{% block body %}
<div class="container">
    <div class="card-group">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                {% for bienList in bienList %}
                    {# <pre>
                        {{ dump(bienList) }}
                    </pre> #}
                    <img src="{{ asset('assets/images/BienLoc Scambnb/' ~ bienList.image) }}" class="img-fluid rounded-start" alt="image moisie">
                    {# <img src="{{bienList.image}}" class="img-fluid rounded-start" alt="image moisie">    #}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">{{bienList.title}}</h3>
                            <h4 class="card-category">{{bienList.capacity}}</h4>
                            <h4 class="card-category">{{bienList.price}}</h4>
                            <p class="card-text">{{bienList.description|raw }}</p>
                                <p class="card-text"><small class="text-muted">{{bienList.adress}}</small></p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
