<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand ps-3" href="{{path('app_home')}}">
		<img src="/assets/images/scambnb.png" alt="ScamBnB" width="50" height="50"/>
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			<li class="nav-item active">
				<a class="nav-link" href="{{path('app_home')}}">Acceuil</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('app_resa')}}">Résa</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('app_bien_loc')}}">Biens</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('app_bien_loc_form')}}">Proposer un bien</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('app_login')}}">Connexion</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('app_register')}}">Inscrivez-vous</a>
			</li>
		</ul>
		<div>
			<a class="btn btn-outline-danger me-5" href="{{path('admin')}}" role="button">Admin</a>
		</div>
	</div>
</nav>
